.container {
  width: 42px;
  height: 24px;
  border: 1px solid hsla(150, 48%, 54%, 0.439);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 0.75rem;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #53c28b;
  border-radius: 50%;
  position: absolute;
}
