.container {
}

.title {
  font-size: 3.125rem;
  margin-block-end: 100px;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0) scale(1.03);
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 20px;
  background-color: transparent;
  border: none;
  color: hsl(0 0% 73%);
  border: 3px solid hsl(0 0% 73%);
  outline-color: hsl(0 0% 73%);
  font-size: 1.25rem;
  font-weight: bold;
}

.input::placeholder,
.textArea::placeholder {
  color: hsl(0 0% 73%);
  opacity: 0.5;
  font-size: 0.9rem;
  text-transform: capitalize;
}
