.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 3rem;
  background: linear-gradient(
    to bottom,
    hsl(32 100% 50%) 0%,
    hsl(359 68% 58%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.desc {
  font-size: 1.5rem;
  font-weight: 300;
}

.worksBtn {
  padding: 20px;
  cursor: pointer;
  background-color: hsl(150 48% 54%);
  border: none;
  border-radius: 5px;
  width: max-content;
  color: hsl(0, 0%, 96%)
}
