.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 20px;
  background-color: transparent;
  color: hsl(0 0% 93%);
  border: 2px solid hsl(0 0% 73%);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.registerBtn {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: hsl(150 48% 54%);
  border: none;
  border-radius: 5px;
  color: hsl(0 0% 93%);
  font-weight: bold;
}
